<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--

     bu bean context ile kullanmak icin yazilan beandir.

     <bean id="database" class="com.springdemo.MsSqlCustomerDal">
    </bean>
    -->

    <context:component-scan base-package="com.springdemo"></context:component-scan>
    <!--
    Bu paketteki hepsini tarayacak ve component anotasyonu olanlari xmle ekleyecek
    daha sonra bunu isteyen bir class oldugu zaman buradan ona verecek. ( en basit anlatimiyla bu )
    -->

</beans>